<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.example.log-example</string>

  <key>Program</key>
  <string>/var/lib/log-example.sh</string>

  <key>StandardOutPath</key>
  <string>/var/log/example-log.log</string>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>60</integer>
</dict>
</plist>
